<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Repo List</title>
</head>

<style>
    .nounderline {
        text-decoration: none !important
    }

    body {
        background: black;
    }

    #sticky-footer {
  flex-shrink: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}
</style>

<body>
    <div id="particles-js" style="position: fixed; width: 100%; height: 100%;"></div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col d-flex justify-content-center w-50 text-light">
                <h1 class="fs-1 fw-bold" style="background: linear-gradient(to right, rgba(102, 126, 234), rgba(118, 75, 162)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                    <%= config.title %>
                </h1>
            </div>
        </div>
        <br>
        <% fs.readdirSync("./views/repos/").forEach(file => { %>
        <% var data = fs.readFileSync("./views/repos/" + file)%>
        <% let repo = JSON.parse(data); %>
        <div class="row">
            <div class="col d-flex justify-content-center w-50">
                <div class="card w-75 shadow bg-body rounded bg-text border border-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <img src="<%= repo.owner_avatar_url %>" href="<%= repo.owner_html_url %>"
                                        class="rounded-circle">
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="row align-items-center h-100">
                                        <h6 class="fs-3 text fw-normal"><a href="<%= repo.owner_html_url %>"
                                                class="link-dark nounderline text-muted">
                                                <%= repo.owner_login %>
                                            </a></h6>
                                    </div>
                                    <div class="row align-items-center h-100">
                                        <div class="col">
                                            <b>
                                                <h6 class="fs-3 text fw-normal">
                                                    <%- include("../icons/repo.svg") %><a
                                                        href="<%= repo.repo_html_url %>" class="link-dark nounderline">
                                                        <%= repo.repo_name %>
                                            </b></a></h6></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row align-items-center h-100">
                                    <div class="row mx-auto">
                                        <div class="col-3">
                                            <h6 class="fs-5 text">
                                                <p class="text-muted fw-lighter">
                                                    <a
                                                        href="https://github.com/<%= repo.owner_login %>/<%= repo.repo_name %>/graphs/contributors"><%- include("../icons/people.svg") %></a>
                                                    <br>
                                                    <%= repo.repo_contributors %>
                                                    <% if (repo.repo_contributors == 30) { %>
                                                    <%- include("../icons/alert.svg") %>
                                                    <% } %>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="fs-5 text">
                                                <p class="text-muted fw-lighter">
                                                    <a
                                                        href="https://github.com/<%= repo.owner_login %>/<%= repo.repo_name %>/issues"><%- include("../icons/issue.svg") %></a>
                                                    <br>
                                                    <%= repo.repo_open_issues %>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="fs-5 text">
                                                <p class="text-muted fw-lighter">
                                                    <a
                                                        href="https://github.com/<%= repo.owner_login %>/<%= repo.repo_name %>/stargazers"><%- include("../icons/star.svg") %></a>
                                                    <br>
                                                    <%= repo.repo_watchers %>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="fs-5 text">
                                                <p class="text-muted fw-lighter">
                                                    <a
                                                        href="https://github.com/<%= repo.owner_login %>/<%= repo.repo_name %>/network/members"><%- include("../icons/fork.svg") %></a>
                                                    <br>
                                                    <%= repo.repo_forks %>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row mx-auto">
                                        <span class="badge"
                                            style="background: <%= repo.repo_lang_color %>; text-shadow: 0 0 3px black"><%= repo.repo_lang %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto">
                                <h6 class="fs-5 text text-muted fw-light" style="padding-top: 15px">
                                    <%= repo.repo_desc %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer id="sticky-footer" class="py-4 text-white" style="background: #080808;">
    <div class="container text-center">
      <small>Copyright <%= new Date().getFullYear() %> &copy; RootK1d Development (Licensed under MIT)</small>
    </div>
  </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('#people').tooltip(options)
        $('#star').tooltip(options)
        $('#issue').tooltip(options)
        $('#fork').tooltip(options)
        $('#law').tooltip(options)
        $('#repo').tooltip(options)
        $('#alert').tooltip(options)
    </script>

    <script type="text/javascript" src="pages/particles/particles.js"></script>
    <script src="pages/particles/app.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>